body {
  background-color: #F2F3F7;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.folder-tab {
  height: 36px;
  width: 15.8%;
  position: relative;
  top: 10px;
  background-color: #FcFcfc;
  left: 85%;
  display: inline-block;
  z-index: 2;
  margin-right:50px;

  color: #A3B4C9;
  cursor: pointer;
}
 .folder-tab:selected, .folder-tab:hover{
    z-index: 3;
    color: #788EAB;
    background-color: #fff;
 
  }
  .folder-tab:before, .folder-tab:after{
    background-color: #fff;
  }
  
  .folder-tab:before {
    height: 36px;
    width: 30px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FcFcfc;
    content: "";
    position: absolute;
    left: -20px;
    top: 0px;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    z-index: -1;
  }
  
  span {
    display: inline-block;
    margin-left: 8px;
    height: 36px;
    line-height: 36px + 4;
    z-index: 3;
    
  }


#greeting {
  position:absolute;
  margin: 0.7% 0.95%;
}

#page {
  background-color: white;
  min-height: 20vh;
  width: calc("100vw - 61px");
  position: relative;
  top: 10px;
  left: 1px;
  padding: 30px;
}