body {
  background-color: #f2f3f7;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
.folder-tab {
  height: 36px;
  width: 15.8%;
  position: relative;
  top: 10px;
  background-color: #fcfcfc;
  left: 85%;
  display: inline-block;
  z-index: 2;
  margin-right: 50px;

  color: #a3b4c9;
  cursor: pointer;
}
.folder-tab:selected,
.folder-tab:hover {
  z-index: 3;
  color: #788eab;
  background-color: #fff;
}
.folder-tab:before,
.folder-tab:after {
  background-color: #fff;
}

.folder-tab:before {
  height: 36px;
  width: 30px;
  border-radius: 10px 10px 0px 0px;
  background-color: #fcfcfc;
  content: "";
  position: absolute;
  left: -20px;
  top: 0px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  z-index: -1;
}

span {
  display: inline-block;
  margin-left: 8px;
  height: 36px;
  line-height: 36px + 4;
  z-index: 3;
}

#greeting {
  position: absolute;
  margin: 0.7% 0.95%;
}

#page {
  background-color: white;
  /* min-height: 20vh; */
  min-height: 75vh;
  width: calc("100vw - 61px");
  position: relative;
  top: 10px;
  /* left: 1px; */
  left: 215px;
  padding: 30px;
}

/*================================================SIDEBAR STYLEZ===============================================================*/

.sidenav {
  height: 100%;
  /* width: 160px; */
  width: 215px;
  position: absolute;
  z-index: 1;
  /* top: 0; */
  top: 46px;
  left: 0;
  background-color: #f2f3f7;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px dotted #f2f3f7;
  border-right: 1px dotted #54596d;
}

.sidenav a {
  padding: 6px 8px 6px 14px;
  text-decoration: none;
  /* text-align: center; */
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*================================================FOOTER STYLEZ===============================================================*/
#footer {
  /* margin-top: 23vh;
  z-index: 2; */
  text-align: center;
  z-index: 2;
  position: fixed;
  position: absolute;
  left: 215px;
  margin-top: 12px;
  /* margin-left: 50%; */
}
.footer-class {
  position: fixed;
}
.footer-class > p:nth-of-type(2) {
  text-align: center;
}
/*================================================SEARCH-INPUT STYLEZ===============================================================*/
.search-input {
  /* margin-left: 5px;
  border-radius: 2px; */
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 3px;
  width: 90%;
  font-size: 17px;
}
